<%- contentFor('body') %>



  <!-- titulo da pagina -->
  <h1>Tabela de Produtos</h1>



<p>
Abaixo temos a tabela de usuários : 
</p>



  <!-- tabela de dados -->
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Telefone</th>
        <th scope="col">Cidade</th>
        <th scope="col">Cep</th>
      </tr>
    </thead>
    <tbody>

      <% for (p of produtos){%>
      <tr>
        <td><%= p.name%></td>
        <td><%= p.phone%></td>
        <td><%= p.city %></td>
        <td><%= p.zipCode%></td>
      </tr>
      <% } %> 
    </tbody>
  </table>